<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表 - 2023 六角學院 Vue 直播班 - 第二週作業</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <template v-if="products.length">
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">產品列表</h2>
                    <table class="table table-hover align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="ps-0">產品名稱</th>
                                <th scope="col">原價</th>
                                <th scope="col">售價</th>
                                <th scope="col">是否啟用</th>
                                <th scope="col">查看細節</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in products" :key="'product' + index">
                                <td class="ps-0">{{ product.title }}</td>
                                <td>{{ product.origin_price }}</td>
                                <td>{{ product.price }}</td>
                                <td class="fw-bold">
                                    <span class="text-success" v-if="product.is_enabled">已啟用</span>
                                    <span class="text-danger" v-else>未啟用</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" @click="selectProduct(product)">查看細節</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4">產品詳細</h2>
                    <template v-if="tempProduct.title">
                        <div class="card mb-4">
                            <div class="text-center">
                                <img :src="tempProduct.imageUrl" :alt="tempProduct.title" height="300">
                            </div>
                            <div class="card-body py-4">
                                <div class="d-flex align-items-center gap-2 mb-3">
                                    <span class="badge text-bg-primary py-2">{{ tempProduct.category }}</span>
                                    <h3 class="mb-0">{{ tempProduct.title }}</h3>
                                </div>
                                <p class="card-text"><strong>商品內容</strong> -- {{ tempProduct.content }}</p>
                                <p class="card-text"><strong>商品描述</strong> -- {{ tempProduct.description }}</p>
                                <p class="card-text">
                                NT$ {{ tempProduct.price }}
                                <span class="text-muted text-decoration-line-through" v-text="tempProduct.origin_price"></span> 元 /
                                {{ tempProduct.unit }}
                                </p>
                            </div>
                        </div>
                        <div class="d-flex gap-4">
                            <template v-for="(img, index) in tempProduct.imagesUrl" :key="'image' + index">
                                <a href="#" @click.prevent="tempProduct.imageUrl = img">
                                <img class="img" :src="img" :alt="tempProduct.title" height="200">
                                </a>
                            </template>
                        </div>
                    </template>
                    <div class="alert bg-light" v-else>請選擇任一產品查看</div>
                </div>
            </div>
        </div>
        </template>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js' integrity='sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==' crossorigin='anonymous'></script>
    <script type="module">

        import { createApp } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.5/vue.esm-browser.min.js';

        const app = {

            data() {
                return {
                    apiUrl: 'https://ec-course-api.hexschool.io/v2',
                    path: 'ataraxia',
                    products: [],
                    tempProduct: {},
                }
            },

            methods: {

                checkStatus() {

                    const token = document.cookie.replace(/(?:(?:^|.*;\s*)vueToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");

                    axios.defaults.headers.common['Authorization'] = token;

                    axios.post(`${this.apiUrl}/api/user/check`)
                    .then(res => {
                        // console.log(res);
                    })
                    .catch(error => {
                        console.log(error);
                        alert(error.response.data.message.replace(', ', '，'));
                        window.location.href = './index.html';
                    });

                },

                getProductData() {
                    axios.get(`${this.apiUrl}/api/${this.path}/admin/products/all`)
                    .then(res => {
                        // console.log(res);
                        const { products } = res.data;
                        this.products = Object.keys(products).map(key => products[key]);
                    })
                    .catch(error => { console.log(error) })
                },

                selectProduct(product) {

                    this.tempProduct = {
                        ...product,
                        imagesUrl: [ product.imageUrl, ...product.imagesUrl.filter(item => item) ]
                    }

                }

            },
            
            created() { /* 資料狀態設置完成之後 */
                
                this.checkStatus();
                this.getProductData(); 
            
            },

        };
        
        createApp(app).mount('#app');

    </script>

</body>
</html>